In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams["font.sans-serif"]=["SimHei"] #设置字体
plt.rcParams["axes.unicode_minus"]=False #该语句解决图像中的“-”负号的乱码问题
%matplotlib inline

## 数据的读取

In [11]:
names=['name','age','height','area']
df = pd.read_table('data/1.csv',header=None,names=names,sep=',')
df

       name  age  height          area
0  zhangsan   17     163        fujian
1      lisi   18     170       jiangxi
2    wangwu   25     166        sicuan
3   zhaoliu   19     170  heilongjiang

header+name关键字可以指定列名,防止第一行被当作列名(适用于文件中无列名)

sep用于指定分隔符